:root {
    --nav-color: #f3d2ac;
    --header-color: #f3b8b1;
    --body-color: #cecbd6;
    --section-color: #7dc8ca;
    --footer-color: #cae9e0;
}


nav {
    background-color: var(--header-color);
}

.navbar-brand{
    color: white;
}

#nav-secundario a:link{
    text-decoration: none;
}

#nav-secundario a:hover {
    text-decoration: underline;
    text-decoration-color: #e7cba9;
    text-decoration-thickness: 0.2rem;
}

#nav-secundario {
    max-height: 120px;
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth;
    background-color: var(--body-color);
}

#nav-secundario::-webkit-scrollbar {
    width: 0;
}

#nav-secundario .item {
    /* min-width: 110px; */
}